/* || Font Family: || */
/* Use of font-face @rule: https://www.youtube.com/watch?v=zK-yy6C2Nck */
/* Use of variable font: https://css-tricks.com/one-file-many-options-using-variable-fonts-web/*/
/* https://www.youtube.com/watch?v=0fVymQ7SZw0&t=443s */
@font-face {
  font-family: "Inter"; /* name your font */
  font-weight: 100 900; /* Range of Weight */
  src: url("./fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype-variations");
}

:root {
  /* Define custom properties */

  /* || COLORS: || */
  /* GREY */
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;

  /* GREEN */
  --green: #c4f82a;

  /* WHITE */
  --white: #fff;

  /* || SPACINGS: ||  */
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;

  /* || FONT SIZE: || */
  --fs-big: 24px;
  --fs-small: 14px;
}

html {
  font-family: "Inter", serif; /* with fallback */
  font-size: var(--fs-small);
}

/* Better solution: allow both html and body to grow */
body {
  min-height: 100dvh; /* 100vh might have issue on mobile. */
}

/* html {
    height: 100%;
}

body {
    min-height: 100%;
} */
